{
  "openapi": "3.1.0",
  "info": {
    "title": "vlresports - Valorant Esports API",
    "version": "1.0.9",
    "description": "API for scraping Valorant esports data from vlr.gg\n\n**Important:** All IDs (players, teams, events, matches) used in this API correspond to the IDs from vlr.gg. You can find these IDs in the URLs on the vlr.gg website.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://opensource.org/licenses/Apache-2.0"
    },
    "contact": {
      "name": "Orloxx23",
      "url": "https://github.com/Orloxx23/vlresports"
    }
  },
  "servers": [
    {
      "url": "http://vlr.orlandomm.net",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/players": {
      "get": {
        "summary": "Get all players",
        "description": "Retrieve a list of all Valorant professional players with optional filters",
        "tags": ["Players"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of players per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "event_series",
            "in": "query",
            "description": "Filter by event series ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "schema": {
              "type": "string",
              "enum": ["all", "na", "north-america", "eu", "europe", "br", "brazil", "ap", "asia-pacific", "asia", "pacific", "kr", "korea", "ch", "china", "jp", "japan", "las", "la-s", "lan", "la-n", "oce", "oceania", "mena", "gc", "world"],
              "default": "all"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minrounds",
            "in": "query",
            "description": "Minimum number of rounds played",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minrating",
            "in": "query",
            "description": "Minimum rating",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "description": "Filter by agent name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map",
            "in": "query",
            "description": "Filter by map name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "Filter by time period",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/players/{id}": {
      "get": {
        "summary": "Get player by ID",
        "description": "Retrieve detailed information about a specific player",
        "tags": ["Players"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Player ID",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams": {
      "get": {
        "summary": "Get all teams",
        "description": "Retrieve a list of all Valorant professional teams with optional filters",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of teams per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "schema": {
              "type": "string",
              "enum": ["all", "na", "north-america", "eu", "europe", "br", "brazil", "ap", "asia-pacific", "asia", "pacific", "kr", "korea", "ch", "china", "jp", "japan", "las", "la-s", "lan", "la-n", "oce", "oceania", "mena", "gc", "world"],
              "default": "all"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{id}": {
      "get": {
        "summary": "Get team by ID",
        "description": "Retrieve detailed information about a specific team",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Team ID",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "summary": "Get events",
        "description": "Retrieve Valorant esports events with optional filters",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by event status",
            "schema": {
              "type": "string",
              "enum": ["all", "upcoming", "ongoing", "completed"],
              "default": "all"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "schema": {
              "type": "string",
              "enum": ["all", "americas", "emea", "pacific", "china"],
              "default": "all"
            }
          },
          {
            "name": "tier",
            "in": "query",
            "description": "Filter by tier",
            "schema": {
              "type": "string",
              "enum": ["all", "vct", "vcl", "t3", "game-changers", "collegiate", "offseason"],
              "default": "all"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events/{id}": {
      "get": {
        "summary": "Get event by ID",
        "description": "Retrieve full details of an event: header info (dates, prize pool, location), stages, participating teams with rosters, prize distribution and the bracket with its matches. The bracket and teams belong to one stage at a time: by default the stage vlr.gg marks as current (see `stages[].active`), or the one selected with the `stage` parameter.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID (numeric, from the vlr.gg event URL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "description": "Stage slug to select which stage's bracket and teams to return (e.g. `playoffs`, `play-ins`, `group-stage`). Valid slugs are listed in the response's `stages[].slug`. Requesting an unknown stage returns 400 with the valid options.",
            "schema": {
              "type": "string",
              "example": "playoffs"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EventDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid event id (must be numeric)"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/api/v1/events/{id}/matches": {
      "get": {
        "summary": "Get all matches of an event",
        "description": "Retrieve every match of an event, optionally filtered by stage and/or status. Match ids are usable with /api/v1/matches/{id}.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": { "type": "string" }
          },
          {
            "name": "stage",
            "in": "query",
            "description": "Stage slug to filter by (e.g. `playoffs`). Valid slugs come in the response's `stages` array. Unknown stages return 400 with the valid options.",
            "schema": { "type": "string", "example": "playoffs" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by match status",
            "schema": {
              "type": "string",
              "enum": ["all", "upcoming", "live", "completed"],
              "default": "all"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "stage": { "type": "string" },
                    "matchStatus": { "type": "string" },
                    "stages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "slug": { "type": "string" }
                        }
                      }
                    },
                    "size": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EventMatch" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid event id, stage or status" },
          "404": { "description": "Event not found" }
        }
      }
    },
    "/api/v1/events/{id}/stats": {
      "get": {
        "summary": "Get player statistics of an event",
        "description": "Retrieve the per-player statistics table of an event (rating, ACS, K/D, KAST, ADR, clutches, etc.), optionally for a single stage.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": { "type": "string" }
          },
          {
            "name": "stage",
            "in": "query",
            "description": "Stage slug to filter by (e.g. `group-stage`). Unknown stages return 400 with the valid options.",
            "schema": { "type": "string", "example": "group-stage" }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "stage": { "type": "string" },
                    "size": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EventPlayerStats" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid event id or stage" },
          "404": { "description": "Event not found" }
        }
      }
    },
    "/api/v1/events/{id}/agents": {
      "get": {
        "summary": "Get agent utilization of an event",
        "description": "Retrieve agent pick rates per map for an event, including attack/defense round win rates. Stage filtering is not supported by vlr.gg on this page, so the data always covers the whole event.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "size": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EventAgentMap" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid event id" },
          "404": { "description": "Event not found" }
        }
      }
    },
    "/api/v1/matches": {
      "get": {
        "summary": "Get upcoming matches",
        "description": "Retrieve information about upcoming or live matches",
        "tags": ["Matches"],
        "parameters": [
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Match"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/matches/{id}": {
      "get": {
        "summary": "Get match by ID",
        "description": "Retrieve full details of a single match: event info, teams, score, status, streams, VODs, picks/bans, per-map results and per-player statistics (overall and per map). Optionally include the performance tab (multikills, clutches, duel matrices) and/or economy tab (buy types, banks, round economy) via the `tabs` query parameter.",
        "tags": ["Matches"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Match ID (numeric, from the vlr.gg match URL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tabs",
            "in": "query",
            "description": "Comma-separated extra vlr.gg tabs to scrape: `performance`, `economy`, or `all` for both. Each tab adds one extra request to vlr.gg, making the response slower. The data appears at the top level (aggregated across all maps) and inside each map object.",
            "schema": {
              "type": "string",
              "example": "performance,economy"
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MatchDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid match id (must be numeric)"
          },
          "404": {
            "description": "Match not found"
          }
        }
      }
    },
    "/api/v1/results": {
      "get": {
        "summary": "Get match results",
        "description": "Retrieve information about past match results with pagination",
        "tags": ["Results"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          { "$ref": "#/components/parameters/ThemeParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Match"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ThemeParam": {
        "name": "theme",
        "in": "query",
        "description": "Selects the vlr.gg theme variant used when extracting logos. Some events and teams serve a different logo image for light vs dark mode (e.g. VCT EMEA is black on light, green on dark). Defaults to `light` for backwards compatibility.",
        "schema": {
          "type": "string",
          "enum": ["light", "dark"],
          "default": "light"
        }
      }
    },
    "schemas": {
      "Player": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "team": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "PlayerDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "realName": {
            "type": "string"
          },
          "team": {
            "type": "object"
          },
          "country": {
            "type": "string"
          },
          "stats": {
            "type": "object"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "TeamDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "roster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "prizepool": {
            "type": "string"
          },
          "dates": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "img": {
            "type": "string"
          }
        }
      },
      "EventMatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Match ID, usable with /api/v1/matches/{id}"
          },
          "url": { "type": "string" },
          "date": { "type": "string", "nullable": true },
          "time": { "type": "string", "nullable": true },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "`upcoming`, `live` or `completed`"
          },
          "eta": { "type": "string", "nullable": true },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "flag": { "type": "string", "nullable": true },
                "score": { "type": "integer", "nullable": true },
                "winner": { "type": "boolean" }
              }
            }
          }
        }
      },
      "EventPlayerStats": {
        "type": "object",
        "properties": {
          "player": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "url": { "type": "string" },
              "name": { "type": "string" },
              "teamTag": { "type": "string", "nullable": true },
              "flag": { "type": "string", "nullable": true }
            }
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "img": { "type": "string" },
                "playRate": {
                  "type": "number",
                  "nullable": true,
                  "description": "Percentage of maps played on this agent"
                }
              }
            }
          },
          "maps": { "type": "integer", "nullable": true },
          "rounds": { "type": "integer", "nullable": true },
          "rating": { "type": "number", "nullable": true },
          "acs": { "type": "number", "nullable": true },
          "kd": { "type": "number", "nullable": true },
          "kast": { "type": "number", "nullable": true, "description": "Percentage" },
          "adr": { "type": "number", "nullable": true },
          "kpr": { "type": "number", "nullable": true },
          "apr": { "type": "number", "nullable": true },
          "fkfd": { "type": "number", "nullable": true, "description": "First kills : first deaths ratio" },
          "fkpr": { "type": "number", "nullable": true },
          "fdpr": { "type": "number", "nullable": true },
          "hs": { "type": "number", "nullable": true, "description": "Headshot percentage" },
          "clutchSuccess": { "type": "number", "nullable": true, "description": "Percentage" },
          "clutches": {
            "type": "object",
            "nullable": true,
            "properties": {
              "won": { "type": "integer" },
              "played": { "type": "integer" }
            }
          },
          "maxKillsInMap": { "type": "integer", "nullable": true },
          "kills": { "type": "integer", "nullable": true },
          "deaths": { "type": "integer", "nullable": true },
          "assists": { "type": "integer", "nullable": true },
          "firstKills": { "type": "integer", "nullable": true },
          "firstDeaths": { "type": "integer", "nullable": true }
        }
      },
      "EventAgentMap": {
        "type": "object",
        "properties": {
          "map": {
            "type": "string",
            "description": "Map name, or `All` for the aggregate row"
          },
          "played": {
            "type": "integer",
            "nullable": true,
            "description": "Times the map was played"
          },
          "atkWinRate": { "type": "number", "nullable": true, "description": "Percentage" },
          "defWinRate": { "type": "number", "nullable": true, "description": "Percentage" },
          "agents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "img": { "type": "string" },
                "pickRate": { "type": "number", "nullable": true, "description": "Percentage" }
              }
            }
          }
        }
      },
      "EventDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "img": { "type": "string" },
          "circuit": {
            "type": "object",
            "nullable": true,
            "description": "Parent circuit the event belongs to (e.g. Valorant Champions Tour)",
            "properties": {
              "name": { "type": "string" },
              "url": { "type": "string" }
            }
          },
          "dates": { "type": "string", "nullable": true },
          "prizepool": { "type": "string", "nullable": true },
          "location": { "type": "string", "nullable": true },
          "stages": {
            "type": "array",
            "description": "Event stages/phases (e.g. Group Stage, Play-Ins, Playoffs)",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "slug": {
                  "type": "string",
                  "nullable": true,
                  "description": "Slug usable as the `stage` query parameter"
                },
                "dates": { "type": "string", "nullable": true },
                "active": {
                  "type": "boolean",
                  "description": "Whether this is the stage the response's bracket and teams belong to"
                },
                "url": { "type": "string" }
              }
            }
          },
          "teams": {
            "type": "array",
            "description": "Participating teams with their rosters",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "url": { "type": "string" },
                "name": { "type": "string" },
                "logo": { "type": "string" },
                "seed": {
                  "type": "string",
                  "nullable": true,
                  "description": "Seeding or qualification note (e.g. group and position)"
                },
                "roster": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "url": { "type": "string" },
                      "name": { "type": "string" },
                      "flag": { "type": "string", "nullable": true }
                    }
                  }
                }
              }
            }
          },
          "prizes": {
            "type": "array",
            "description": "Prize distribution by placement",
            "items": {
              "type": "object",
              "properties": {
                "place": { "type": "string" },
                "prize": { "type": "string", "nullable": true },
                "team": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" },
                    "name": { "type": "string" },
                    "country": { "type": "string", "nullable": true },
                    "logo": { "type": "string" }
                  }
                }
              }
            }
          },
          "groups": {
            "type": "array",
            "description": "Group standings, for group stages. Empty for bracket-only stages (e.g. playoffs)",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Group name, e.g. `Group Alpha`"
                },
                "standings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": { "type": "integer" },
                      "team": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "nullable": true },
                          "url": { "type": "string" },
                          "name": { "type": "string" },
                          "country": { "type": "string", "nullable": true },
                          "logo": { "type": "string" }
                        }
                      },
                      "record": {
                        "type": "object",
                        "nullable": true,
                        "description": "Series won/lost",
                        "properties": {
                          "wins": { "type": "integer" },
                          "losses": { "type": "integer" }
                        }
                      },
                      "maps": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "won": { "type": "integer" },
                          "lost": { "type": "integer" }
                        }
                      },
                      "rounds": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "won": { "type": "integer" },
                          "lost": { "type": "integer" }
                        }
                      },
                      "roundsDiff": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Round differential (e.g. +30)"
                      }
                    }
                  }
                }
              }
            }
          },
          "bracket": {
            "type": "array",
            "description": "Bracket columns (rounds) with their matches, for the active stage. Empty for stages without a bracket (e.g. group stages)",
            "items": {
              "type": "object",
              "properties": {
                "round": { "type": "string", "nullable": true },
                "matches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "nullable": true,
                        "description": "Match ID, usable with /api/v1/matches/{id}"
                      },
                      "url": { "type": "string", "nullable": true },
                      "teams": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "nullable": true },
                            "name": { "type": "string" },
                            "logo": { "type": "string" },
                            "score": { "type": "integer", "nullable": true },
                            "winner": { "type": "boolean" }
                          }
                        }
                      },
                      "timestamp": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Unix timestamp (seconds, UTC) of the match"
                      },
                      "utcDate": { "type": "string", "nullable": true }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MatchDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "event": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "url": { "type": "string" },
              "name": { "type": "string" },
              "series": { "type": "string" },
              "img": { "type": "string" }
            }
          },
          "status": {
            "type": "string",
            "description": "Match status: `upcoming`, `live` or `final`"
          },
          "in": {
            "type": "string",
            "nullable": true,
            "description": "Countdown until match start (only for upcoming matches, e.g. `2d 8h`)"
          },
          "format": {
            "type": "string",
            "description": "Match format, e.g. `Bo3`"
          },
          "date": { "type": "string" },
          "time": { "type": "string" },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp (seconds, UTC) of the match start"
          },
          "utcDate": { "type": "string" },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "url": { "type": "string" },
                "name": { "type": "string" },
                "img": { "type": "string" },
                "score": { "type": "integer", "nullable": true }
              }
            }
          },
          "streams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "link": { "type": "string" }
              }
            }
          },
          "vods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "link": { "type": "string" }
              }
            }
          },
          "picksBans": {
            "type": "object",
            "properties": {
              "note": { "type": "string", "nullable": true },
              "list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "team": { "type": "string", "nullable": true },
                    "action": {
                      "type": "string",
                      "description": "`ban`, `pick`, `remains` or `note`"
                    },
                    "map": { "type": "string" }
                  }
                }
              }
            }
          },
          "maps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "status": {
                  "type": "string",
                  "description": "`played`, `live` or `upcoming`"
                },
                "pickedBy": { "type": "string", "nullable": true },
                "duration": { "type": "string", "nullable": true },
                "teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "score": { "type": "integer", "nullable": true },
                      "roundsCt": { "type": "integer", "nullable": true },
                      "roundsT": { "type": "integer", "nullable": true }
                    }
                  }
                },
                "rounds": {
                  "type": "array",
                  "description": "Round-by-round timeline of the map",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": { "type": "integer" },
                      "score": {
                        "type": "string",
                        "description": "Running score after the round, e.g. `5-3`"
                      },
                      "winner": {
                        "type": "string",
                        "description": "Tag of the team that won the round"
                      },
                      "side": {
                        "type": "string",
                        "description": "Side the round was won on: `t` or `ct`"
                      },
                      "method": {
                        "type": "string",
                        "description": "How the round was won: `elim` (eliminations), `boom` (spike exploded), `defuse` (spike defused) or `time` (time ran out)"
                      },
                      "methodIcon": {
                        "type": "string",
                        "nullable": true,
                        "description": "Absolute URL of the win-method icon shown on vlr.gg"
                      }
                    }
                  }
                },
                "players": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchPlayerStats"
                  }
                },
                "performance": {
                  "$ref": "#/components/schemas/MatchPerformance",
                  "description": "Only present when `tabs` includes `performance`"
                },
                "economy": {
                  "$ref": "#/components/schemas/MatchEconomy",
                  "description": "Only present when `tabs` includes `economy`"
                }
              }
            }
          },
          "players": {
            "type": "array",
            "description": "Per-player statistics aggregated across all maps",
            "items": {
              "$ref": "#/components/schemas/MatchPlayerStats"
            }
          },
          "performance": {
            "$ref": "#/components/schemas/MatchPerformance",
            "description": "Aggregated across all maps. Only present when `tabs` includes `performance`"
          },
          "economy": {
            "$ref": "#/components/schemas/MatchEconomy",
            "description": "Aggregated across all maps (summary only, no rounds). Only present when `tabs` includes `economy`"
          }
        }
      },
      "MatchPerformance": {
        "type": "object",
        "properties": {
          "players": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "teamTag": { "type": "string" },
                "agents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "img": { "type": "string" }
                    }
                  }
                },
                "multikills": {
                  "type": "object",
                  "properties": {
                    "2k": { "type": "integer" },
                    "3k": { "type": "integer" },
                    "4k": { "type": "integer" },
                    "5k": { "type": "integer" }
                  }
                },
                "clutches": {
                  "type": "object",
                  "properties": {
                    "1v1": { "type": "integer" },
                    "1v2": { "type": "integer" },
                    "1v3": { "type": "integer" },
                    "1v4": { "type": "integer" },
                    "1v5": { "type": "integer" }
                  }
                },
                "econ": { "type": "integer" },
                "plants": { "type": "integer" },
                "defuses": { "type": "integer" }
              }
            }
          },
          "killMatrix": {
            "type": "array",
            "description": "Head-to-head kills between each player pair",
            "items": { "$ref": "#/components/schemas/DuelMatrixRow" }
          },
          "opKillMatrix": {
            "type": "array",
            "description": "Head-to-head Operator kills between each player pair",
            "items": { "$ref": "#/components/schemas/DuelMatrixRow" }
          },
          "firstKillMatrix": {
            "type": "array",
            "description": "Head-to-head first kills/first deaths between each player pair",
            "items": { "$ref": "#/components/schemas/DuelMatrixRow" }
          }
        }
      },
      "DuelMatrixRow": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "teamTag": { "type": "string" },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "teamTag": { "type": "string" },
                "kills": { "type": "integer" },
                "deaths": { "type": "integer" },
                "diff": { "type": "integer" }
              }
            }
          }
        }
      },
      "MatchEconomy": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "pistolWon": { "type": "integer" },
                "eco": { "$ref": "#/components/schemas/EconomyBuyStat" },
                "semiEco": { "$ref": "#/components/schemas/EconomyBuyStat" },
                "semiBuy": { "$ref": "#/components/schemas/EconomyBuyStat" },
                "fullBuy": { "$ref": "#/components/schemas/EconomyBuyStat" }
              }
            }
          },
          "rounds": {
            "type": "array",
            "description": "Round-by-round economy (only for played maps, empty at the aggregated level)",
            "items": {
              "type": "object",
              "properties": {
                "number": { "type": "integer" },
                "teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bank": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Team bank at round start, in credits"
                      },
                      "loadout": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Total loadout value of the team that round, in credits"
                      },
                      "buy": {
                        "type": "string",
                        "nullable": true,
                        "description": "Buy type: `eco` (0-5k), `semi-eco` (5-10k), `semi-buy` (10-20k) or `full-buy` (20k+)"
                      },
                      "winner": {
                        "type": "boolean",
                        "description": "Whether this team won the round"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EconomyBuyStat": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Rounds played with this buy type"
          },
          "won": {
            "type": "integer",
            "nullable": true,
            "description": "Rounds won with this buy type"
          }
        }
      },
      "MatchPlayerStats": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "name": { "type": "string" },
          "teamTag": { "type": "string" },
          "country": { "type": "string" },
          "flag": { "type": "string" },
          "agents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "img": {
                  "type": "string",
                  "description": "Absolute URL of the agent icon"
                }
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "rating": { "type": "number", "nullable": true },
              "acs": { "type": "number", "nullable": true },
              "kills": { "type": "integer", "nullable": true },
              "deaths": { "type": "integer", "nullable": true },
              "assists": { "type": "integer", "nullable": true },
              "kast": { "type": "number", "nullable": true },
              "adr": { "type": "number", "nullable": true },
              "hs": { "type": "number", "nullable": true },
              "firstBloods": { "type": "integer", "nullable": true },
              "firstDeaths": { "type": "integer", "nullable": true }
            }
          }
        }
      },
      "Match": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "team1": {
            "type": "object"
          },
          "team2": {
            "type": "object"
          },
          "score": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "event": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Players",
      "description": "Operations related to Valorant players"
    },
    {
      "name": "Teams",
      "description": "Operations related to Valorant teams"
    },
    {
      "name": "Events",
      "description": "Operations related to Valorant esports events"
    },
    {
      "name": "Matches",
      "description": "Operations related to upcoming matches"
    },
    {
      "name": "Results",
      "description": "Operations related to match results"
    }
  ]
}
